body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors var */
  --main-color: #ebf0f7;
  --secondary-color: #aca6ee;
  --third-color: #8a8f9c;
  --background-color: #060d22;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
